body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0 !important;
  padding: 0 !important;
}

/*Override all other declarations that Jekyll imported*/
@font-face {
   font-family: defaultFont;
   src: url(./../media/site/fonts/ShreeDev0714/ShreeDev0714.ttf);
}
@font-face {
   font-family: defaultFont_bold;
   src: url(./../media/site/fonts/ShreeDev0714/ShreeDev0714-Bold.ttf);
   font-weight: bold;
}
@font-face {
   font-family: defaultFont_Italics;
   src: url(./../media/site/fonts/ShreeDev0714/ShreeDev0714-Italic.ttf);
   font-weight: italic;
}
@font-face {
   font-family: defaultFont_Bold_Italics;
   src: url(./../media/site/fonts/ShreeDev0714/ShreeDev0714-Bold-Italic.ttf);
   font-weight: bold italic;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

@-webkit-keyframes FadeInDiv {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes FadeInOut {
  0% {
    opacity: 1;
    left: 0rem;
    height: 100%;
    top: 0%;
  }
  80% {
    opacity: 1;
    left: 0rem;
    height: 100%;
    top: 0%;
  }
  100% {
    opacity: 0;
    left: 100%;
    height: 90%;
    top: 5%;
  }
}

.background-fade {
  -webkit-animation-name: FadeInOut;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 5.01s; /*Same as slideshow timer*/
}

.div-fade-in {
  -webkit-animation-name: FadeInDiv;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-duration: 1500ms; /*Same as slideshow timer*/
}

.landing-background {
  height: 100vh;
  width: 100vw;
  background-repeat: infinite;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 0%;
  position: absolute;
  z-index: 1;
  opacity: 1;
}

.content-area {
  z-index: 2;
  position: absolute;
  width: 400px;
  top: 50%;
  left: 50%;
  margin: -275px 0 0 -200px;
  font-family: defaultFont;
  padding: .75rem;
  background: rgba(75, 75, 75, .2);
  border-radius: 1rem;
  border: 1px solid gray;

  /*Shadow*/
  border-bottom: 2px solid;
  border-bottom-color: #ccc;
  border-bottom-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.profile-name {
  text-align: center;
  font-size: 5rem;
  color: white;
  line-height: 5rem;
  margin-top: 1rem;
}

.profile-blog {
  text-align: center;
  color: white;
  margin: auto;
}

.blog-button {
  width: 80px;
  height: 80px;
  border: 2px solid rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0);
  border-radius: 40px;
  font-size: 1.1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  opacity: 1;
  color: rgba(255, 255, 255, 0);
  margin-right: .75rem;
  margin-left: .75rem;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
}

.blog-button:hover {
  background-color: rgba(255, 255, 255, .25);
  color: rgba(255, 255, 255, 1); /*Turn on text*/
  background-image: none; /*Turn off icon*/
}

.icon-label {
  width: 80px;
  height: 80px;
  position: absolute;
  margin: auto;
  bottom: 0px;
  text-align: center;
}

.wood-icon {
  background-image: url("./../media/site/icons/table_saw.png");
  background-size: 75%;
  opacity: 1;
}

.blog-icon {
  background-image: url("./../media/site/icons/blog.png");
  background-size: 65%;
}

.code-icon {
  background-image: url("./../media/site/icons/code.png");
  background-size: 65%;
}

.profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  top: 50%;
  left: 50%;
  margin-left: -100px;
  background-image: url("./../media/site/images/Profile.jpg");
  background-size: contain;
  position: relative;
  border: 1px solid gray;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.MainDiv {
  background-color: black;
  height: 100vh;
  width: 100%;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9001;
}
.modal__container {
    position: relative;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    margin: auto;
    padding: 3rem;
    border-radius: .25rem;
    width: 50%;
    max-width: 40rem;
    min-width: 20rem;
    height: 100%;
}
.modal__header {
    flex-shrink: 0;
    border: 1px solid black;
}
.modal__content {
    padding-top: 2rem;
    padding: 1rem;
    overflow: hidden;
    overflow-y: auto;
    border: 1px solid black;
}
.modal__footer {
    border-top: 2px solid grey;
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
    padding: .75rem;
    text-align: right;
    border: 1px solid black;
}
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9000;
    visibility: visible;
    opacity: 1;
}