body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul, figure {
  margin: 0 !important;
  padding: 0 !important;
}

/*Override all other declarations that Jekyll imported*/
@font-face {
   font-family: defaultFont;
   src: url(./../media/site/fonts/ProximaNova/ProximaNova-Light.otf);
}
@font-face {
   font-family: defaultFont_Extra_Bold;
   src: url(./../media/site/fonts/ProximaNova/ProximaNova-Exxtrabold.otf);
   font-weight: bolder;
}
@font-face {
   font-family: defaultFont_bold;
   src: url(./../media/site/fonts/ProximaNova/ProximaNova-Semibold.otf);
   font-weight: bold;
}
@font-face {
   font-family: defaultFont_Italics;
   src: url(./../media/site/fonts/ProximaNova/ProximaNova-LightItalic.otf);
   font-weight: italic;
}
@font-face {
   font-family: defaultFont_Bold_Italics;
   src: url(./../media/site/fonts/ProximaNova/ProximaNova-SemiboldIt.otf);
   font-weight: bold italic;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: defaultFont;
}
p, div {
    font-family: defaultFont;
}

hr {
  margin-bottom: 14px;
}

@-webkit-keyframes FadeInDiv {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes ButtonHover {
  0% {
    color: rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0);
  }
  100% {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, .2);
    background-image: none; /*Turn off icon*/
  }
}

@-webkit-keyframes FadeInOut {
  0% {
    opacity: 1;
    left: 0rem;
    height: 100%;
    top: 0%;
  }
  80% {
    opacity: 1;
    left: 0rem;
    height: 100%;
    top: 0%;
  }
  100% {
    opacity: 0;
    /*left: 100%;*/
    /*height: 90%;*/
    /*top: 5%;*/
  }
}

.background-fade {
  -webkit-animation-name: FadeInOut;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 5.01s; /*Same as slideshow timer*/
}

.div-fade-in {
  -webkit-animation-name: FadeInDiv;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-duration: 1500ms; /*Same as slideshow timer*/
}

.landing-background {
  height: 100vh;
  width: 100vw;
  background-repeat: infinite;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 0%;
  position: absolute;
  z-index: 1;
  opacity: 1;
}

.content-area {
  z-index: 2;
  position: absolute;
  width: 400px;
  top: 50%;
  left: 50%;
  margin: -275px 0 0 -200px;
  font-family: defaultFont;
  padding: .75rem;
  background: rgba(75, 75, 75, .2);
  border-radius: 1rem;
  border: 1px solid gray;

  /*Fade in animation*/
  -webkit-animation-name: FadeInDiv;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-duration: 3000ms;

  /*Shadow*/
  border-bottom: 2px solid;
  border-bottom-color: #ccc;
  border-bottom-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.profile-name {
  text-align: center;
  font-size: 7rem;
  color: white;
  line-height: 6.5rem;
  margin-top: 1.5rem;
}

.profile-blog {
  text-align: center;
  color: white;
  margin: auto;
}

.blog-button {
  width: 80px;
  height: 80px;
  border: 2px solid rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0);
  border-radius: 40px;
  font-size: 1.1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  opacity: 1;
  color: rgba(255, 255, 255, 0);
  margin-right: .75rem;
  margin-left: .75rem;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
}

.blog-button:hover {
  background-color: rgba(255, 255, 255, .2);
  color: rgba(255, 255, 255, 1); /*Turn on text*/
  background-image: none; /*Turn off icon*/

  -webkit-animation-name: ButtonHover;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-duration: 500ms;
}

.icon-label {
  font-size: 2rem;
  width: 80px;
  height: 80px;
  position: absolute;
  margin: auto;
  bottom: -10px;
  text-align: center;
}

.wood-icon {
  background-image: url("./../media/site/icons/table_saw.png");
  background-size: 75%;
  opacity: 1;
}

.blog-icon {
  background-image: url("./../media/site/icons/blog.png");
  background-size: 65%;
}

.code-icon {
  background-image: url("./../media/site/icons/code.png");
  background-size: 65%;
}

.profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-image: url("./../media/site/images/Profile.jpg");
  background-size: contain;
  position: relative;
  border: 1px solid gray;
  /*margin-top: 1rem;*/
  /*margin-bottom: 1.5rem;*/
}

.profile-picture:hover {
  opacity: .25;
}

.profile-about {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  position: relative;
  border: 1px solid rgba(255, 255, 255, .5);
  background: rgba(75, 75, 75, .15);
  border-bottom: 2px solid;
  border-bottom-color: #ccc;
  border-bottom-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  display: inline-block;
  color: white;
  text-align: center;
}

.profile-about-text {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  top: 60px;
  padding: .25rem;
  position: absolute;
  font-size: 1.5rem;
}

.profile-label {
  position: absolute;
  width: 200px;
  height: 200px;
  margin: auto;
  text-align: center;
  left: 50%;
  margin-left: -100px;
  top: 45%;
  font-size: 2rem;
  color: white;
}

.cardDiv {
  margin-left: 100px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.MainDiv {
  background-color: black;
  height: 100vh;
  width: 100%;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9001;
}
.modal__container {
    position: relative;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    margin: auto;
    padding: 3rem;
    border-radius: .25rem;
    width: 50%;
    max-width: 40rem;
    min-width: 20rem;
    height: 100%;
}
.modal__header {
    flex-shrink: 0;
    border: 1px solid black;
}
.modal__content {
    padding-top: 2rem;
    padding: 1rem;
    overflow-x: hidden;
    overflow-y: scroll;
    border: 1px solid black;
}
.modal__footer {
    border-top: 2px solid grey;
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
    padding: .75rem;
    text-align: right;
    border: 1px solid black;
}
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9000;
    visibility: visible;
    opacity: 1;
}

.flip-container {
  -webkit-perspective: 1000;
}
  /* flip the pane when hovered */
  .flip-container:hover .flipper, .flip-container.hover .flipper {
    -webkit-transform: rotateY(180deg);
  }

.flip-container, .front, .back {
  width: 200px;
  height: 200px;
  left: 0;
}

/* flip speed goes here */
.flipper {
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  -webkit-backface-visibility: hidden;

  position: absolute;
  top: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  -webkit-transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  -webkit-transform: rotateY(180deg);
}

.flip-container:hover .flipper, .flip-container.hover .flipper, .flip-container.flip .flipper {
  -webkit-transform: rotateY(180deg);
}

.facebook-bw {
   background-image: url(./../media/site/icons/logos/Facebook_bw.png);
   background-size: contain;
   width: 100%;
   height: 100%;
   width: 100%;
   height: 100%;
}

.flickr-bw {
   background-image: url(./../media/site/icons/logos/Flickr_bw.png);
   background-size: contain;
   width: 100%;
   height: 100%;
}

.gallery-bw {
   background-image: url(./../media/site/icons/gallery_bw.png);
   background-size: contain;
   width: 100%;
   height: 100%;
}

.github-bw {
   background-image: url(./../media/site/icons/logos/Github_bw.png);
   background-size: contain;
   width: 100%;
   height: 100%;
}

.home-bw {
   background-image: url(./../media/site/icons/home_bw.png);
   background-size: contain;
   width: 100%;
   height: 100%;
}

.highSchool-bw {
   background-image: url(./../media/site/icons/highSchool_bw.png);
   background-size: contain;
   width: 100%;
   height: 100%;
}

.instagram-bw {
   background-image: url(./../media/site/icons/logos/Instagram_bw.png);
   background-size: contain;
   width: 100%;
   height: 100%;
}

.linkedin-bw {
   background-image: url(./../media/site/icons/logos/LinkedIn_bw.png);
   background-size: contain;
   width: 100%;
   height: 100%;
}

.twitter-bw {
   background-image: url(./../media/site/icons/logos/Twitter_bw.png);
   background-size: contain;
   width: 100%;
   height: 100%;
}

.youtube-bw {
   background-image: url(./../media/site/icons/logos/YouTube_bw.png);
   background-size: contain;
   width: 100%;
   height: 100%;
}

.nav-bar {
  z-index: 2;
  position: absolute;
  bottom: 0;
  left: 49%;
  margin: 0 0 2% -81px;
  -webkit-filter: invert(1);
  border: 1px solid gray;
  border-bottom: 2px solid;
  border-bottom-color: #ccc;
  border-bottom-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  background: rgba(75, 75, 75, .2);
  border-radius: 10px;
  padding: .25rem;
}

.nav-link-box {
  height: 32px;
  width: 32px;
  background-color: transparent;
  margin: 2px;
}

.landing-logo {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 5;
}