$timeNumberInputWidth: 50px;

.tcalc {
  &-input-div {
  }

  &-minutes-input {
    width: $timeNumberInputWidth;
  }

  &-seconds-input {
    width: $timeNumberInputWidth;
  }

  &-analysis-div {
    width: 90%;
    margin: 5%;
    border: 1px solid black;
    padding: 2%;
  }
}
