<header class="site-header">
  <div class="wrapper">
    <div class="site-header-background">
      <div class="site-header-content">

        <a class="site-title external-custom-spacing" href="{{ site.baseurl }}/">
          <img src="{{ site.baseurl }}/media/site/favicon.png" width="48" height="48" align="middle">
          {{ site.title }}
        </a>

        <!-- Site Navigation Bar -->
        <ul class="nav-ul site-nav-bar">
          <li class="nav-li nav-item">
            <a href="{{ site.url }}">Home</a>
          </li>
          <li class="nav-li nav-item">
            <a href="{{ site.baseurl }}/blog">Blog &#9662;</a>
            <ul class="dropdown">
              <li class="nav-li"><a href="{{ site.baseurl }}/blog/category">Browse by Category</a></li>
              <li class="nav-li"><a href="{{ site.baseurl }}/blog/tag">Browse by Tag</a></li>
            </ul>
          </li>
          <li class="nav-li nav-item">
            <a href="{{ site.baseurl }}/blog/projects">Projects &#9662;</a>
            <ul class="dropdown">
              <li class="nav-li"><a href="{{ site.baseurl }}/blog/projects/Uber-Scheduler/">Uber Scheduler</a></li>
              <li class="nav-li"><a href="{{ site.baseurl }}/blog/projects/Execute-Order-66/">Execute Order 66</a></li>
              <li class="nav-li"><a href="{{ site.baseurl }}/blog/projects/text-analysis">Text Analysis</a></li>
              <li class="nav-li"><a href="{{ site.baseurl }}/blog/apps/drag-drop-interface/">Drag and Drop Interface</a></li>
              <li class="nav-li"><a href="{{ site.baseurl }}/blog/projects/browser-home-page">Custom Browser Home Page</a></li>
              <li class="nav-li"><a href="{{ site.baseurl }}/blog/projects">See All (14)</a></li>
            </ul>
          </li>
          <li class="nav-li nav-item"><a href="{{  site.baseurl  }}/blog/contact">Contact</a></li>
        </ul>

      </div>
    </div>

  </div>

  <!-- Activate Tooltips -->
  <script type="text/javascript">
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })

    // Header has two sizes — 80px and 40px — based on scrolling
    $(document).scroll(function() {
      var triggerDistance = 100;
      var maxHeight = 80;
      var minHeight = 40;
      if ($(this).scrollTop() < triggerDistance) { // Distance until changing header height
        // Animate fixed div to small size:
        var percentageComplete = $(this).scrollTop()/triggerDistance;
        // console.log(percentageComplete); // Debugging
        var dynamicHeight = ((1 - percentageComplete) * (maxHeight - minHeight)) + minHeight
        $('.site-header').css("height", dynamicHeight)
      } else {
        // Animate fixed div to small size
        $('.site-header').stop().animate({ height: minHeight, 'padding-top': 0}, 100);
      }
      if ($(this).scrollTop() <= 5) { // Just in case you scroll too fast
        $('.site-header').stop().animate({ height: maxHeight, 'padding-top': 0}, 100);
      }
    });
  </script>

</header>
