<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>
    {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}
  </title>
  <meta
    name="description"
    content="{% if page.excerpt %}{{
      page.excerpt | strip_html | strip_newlines | truncate: 160
    }}{% else %}{{ site.description }}{% endif %}"
  />

  <!-- Thumbnail preview -->
  <meta
    property="og:image"
    content="{{ site.url }}/media/meta/thumbnail-preview.jpg"
  />
  <meta
    property="image"
    content="{{ site.url }}/media/meta/thumbnail-preview.jpg"
  />
  <meta
    property="og:image:secure_url"
    content="https://khou22.com/media/meta/thumbnail-preview.jpg"
  />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="600" />

  <!-- React -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>

  <!-- Jquery -->
  <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"
  ></script>

  <!-- Tile Layout Library -->
  <link rel="stylesheet" type="text/css" href="{{
  "/libraries/tile-layout-library/style.css" | prepend: site.baseurl }}"> <link
  rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link
    rel="canonical"
    href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
  />
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}"
  href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  <!-- Bootstrap -->
  <!-- <link href="{{ "/css/bootstrap-3.3.5-dist/css/bootstrap.min.css" | prepend: site.baseurl }}" rel="stylesheet"> -->
  <!-- <script src="{{ "/css/bootstrap-3.3.5-dist/js/bootstrap.min.js" | prepend: site.baseurl }}"></script> -->

  <!-- Pinterest -->
  <meta name="p:domain_verify" content="ba077b9ffb934c298dbb2516fb42bdee" />

  <!-- Semantic UI -->
  <link
    rel="stylesheet"
    type="text/css"
    href="{{ '/semantic/dist/semantic.min.css' | prepend: site.baseurl }}"
  />
  <script src="{{
      '/semantic/dist/semantic.min.js' | prepend: site.baseurl
    }}"></script>

  <!-- Snipcart -->
  <link
    rel="stylesheet"
    href="https://cdn.snipcart.com/themes/v3.0.14/default/snipcart.css"
  />

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=UA-66796355-1"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "UA-66796355-1");
  </script>

  <!-- Favicon -->
  <link
    rel="icon"
    type="image/png"
    href="{{ '/media/site/favicon.png' |
  prepend: site.baseurl }}"
  />
  {% seo %}
</head>
