<div class="photography-store-container">
  <a onclick="storeClick()">
    <button class="ui active button positive photography-store-button">
      <i class="shopping cart icon"></i>
      $25 Print + Frame
    </button>

    <script>
      var storeClick = function() {
        gtag("event", "click", {
          event_category: "Photography",
          event_label: "Order Form",
          transport: "Beacon"
        });
        window.open("{{ site.photography_store_order_form }}", "_blank");
      };
    </script>
  </a>
</div>
