$brand-red:       #D5491F;
$brand-orange:    #DA8D0F;
$brand-green:     #80A454;
$brand-grey:      #9DB7C1;
$brand-blue:      #3286A8;

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    overflow-x: hidden;
    background-color: $background-color;
    color: $text-color;
    font-weight: 300;
    font-size: $base-font-size;
    font-family: $base-font-family;
    line-height: $base-line-height;

    -webkit-text-size-adjust: 100%;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    /*margin-left: $spacing-unit;*/ /*Default spacing*/
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}



/**
 * Links
 */
a {
    color: $brand-blue;
    text-decoration: none;

    &:visited {
        color: darken($brand-blue, 5%);
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    padding-left: $spacing-unit / 2;
    border-left: 4px solid $grey-color-light;
    color: $grey-color;
    letter-spacing: -1px;
    font-style: italic;
    font-size: 18px;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
    font-size: 15px;
}

code {
    padding: 1px 5px;
}

pre {
    overflow-x: scroll;
    padding: 8px 12px;

    > code {
        padding-right: 0;
        padding-left: 0;
        border: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    margin-right: auto;
    margin-left: auto;
    // Default:
    // max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    // max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    // Custom:
    width: 100%;
    // Custom: No padding
    // padding-right: $spacing-unit;
    // padding-left: $spacing-unit;

    @extend %clearfix;
    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        // padding-right: $spacing-unit / 2;
        // padding-left: $spacing-unit / 2;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        display: table;
        clear: both;
        content: "";
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}
