$hover-animation-duration: 200ms;

.portfolio-category {

  &-div {
    position: relative;
    width: 50%;
    height: 400px;
    display: inline-block;
    overflow: hidden;
    background-color: black;
  }

  &-background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    // Sizing
    width: 100%;
    height: 100%;

    // Background image filter
    opacity: 1; // Start completely visible

    // Background image options
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    // Animate transitions
    transition: all $hover-animation-duration; // Applies to all changes
    transition-timing-function: ease-in-out; // Transition timing

    &-hover {
      transform: scale(1.2, 1.2); // Scale the background image

      // Filter when hovering
      // filter: blur(0px) brightness(1) grayscale(0);
      opacity: 0.5; // Dim so text can be visible
    }
  }

  // Text on the inside
  &-text {
    position: absolute;
    top: 20%; // Position towrads top of tile
    width: 100%;
    text-align: center;

    transition: all $hover-animation-duration; // Applies to all changes
    transition-timing-function: ease-in-out; // Transition timing

    font-size: 48px;

    z-index: 2;

    color: white;

    // States to transition
    opacity: 0; // Transparent

    &-hover {
      opacity: 1; // Visible
    }
  }

  &-circular-logo {
    z-index: 3;
    position: absolute;
    left: calc(50% - 100px);
    top: calc(50% - 100px);
    width: 200px;
    height: 200px;
    border-radius: 100px; // Make round
  }
}
