/*For contact page*/

$brand-red:       #D5491F;
$brand-orange:    #DA8D0F;
$brand-green:     #80A454;
$brand-grey:      #9DB7C1;
$brand-blue:      #3286A8;

.contact {
  &-header {
    width: 100%;

    &-image {
        // Sizing
        width: 200px;
        height: 200px;
        border-radius: 100px;
        border: 1px solid $brand-blue;

        // Positioning
        margin: auto;
        margin-top: 24px;

        // Image properties
        background-image: url("../media/site/images/Profile2.jpg");
        background-position: center;
        background-size: cover;
    }

    &-title {
      color: $brand-blue;
      text-align: center;
      font-size: 5rem;
      line-height: 12rem;

      // Animated typing section
      &-fill-in {
          // Sizing and positioning
          display: inline-block;
          width: 150px; // Extra wide
          height: 9rem;

          // Styling
          color: $brand-red;
          border-bottom: 1px solid $brand-blue;
      }
    }

    &-subtitle {
      color: $brand-grey;
      text-align: center;
      font-size: 2rem;
    }
  }

  &-info {
    margin-top: 24px;

    &-block {
      margin: auto;
      width: 150px;
      height: 150px;
    }

    &-left {
      float: left;
      width: 50%;
    }

    &-right {
      float: right;
      width: 50%;
    }
  }

  &-icon {
    margin: auto;
    width: 50%;
    height: 50%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    color: $brand-blue;
  }

  &-details {
    margin: auto;
    width: 75%;
    color: $brand-grey;
    text-align: center;
    word-wrap: break-word;
    font-size: 18px;
    line-height: 24px;
  }
}
