/*For contact page*/

$brand-red:       #D5491F;
$brand-orange:    #DA8D0F;
$brand-green:     #80A454;
$brand-grey:      #9DB7C1;
$brand-blue:      #3286A8;

.contact {
  &-header {
    width: 100%;

    &-image {
        // Sizing
        width: 200px;
        height: 200px;
        border-radius: 100px;
        border: 1px solid $brand-blue;

        // Positioning
        margin: auto;
        margin-top: 24px;

        // Image properties
        background-image: url("../media/site/images/Profile2.jpg");
        background-position: center;
        background-size: cover;
    }

    &-title {
      color: $brand-blue;
      text-align: center;
      font-size: 5rem;
      line-height: 12rem;

      // Animated typing section
      &-fill-in {
          // Sizing and positioning
          display: inline-block;
          width: 150px; // Extra wide
          height: 9rem;

          // Styling
          color: $brand-red;
          border-bottom: 1px solid $brand-blue;
      }
    }
  }

  &-left-half {
      width: 49%;
      float: left;
  }

  &-form {
      // Sizing
      width: 90%;
      margin: 5%;
      padding: 12px;
      border-radius: 12px;

      border: 1px solid $brand-grey;

      input, textarea {
          width: 100%;
          margin: 1% 0px 1% 0px !important;
          border: 1px solid $brand-grey;
          border-radius: 4px;
          color: $brand-blue; // Text color
          padding: 7px;
          font-size: 16px;
          resize: none;
      }

      input:focus, textarea:focus {
          outline: none; // No focus border
          border: 1px solid $brand-blue; // Change color
      }

      &-body {
          height: 200px;
      }
  }
}
