/*Custom Sass file for blog directory*/
@font-face {
   font-family: defaultFont;
   src: url(./../media/site/fonts/ShreeDev0714/ShreeDev0714.ttf);
}
@font-face {
   font-family: defaultFont_bold;
   src: url(./../media/site/fonts/ShreeDev0714/ShreeDev0714-Bold.ttf);
   font-weight: bold;
}
@font-face {
   font-family: defaultFont_Italics;
   src: url(./../media/site/fonts/ShreeDev0714/ShreeDev0714-Italic.ttf);
   font-weight: italic;
}
@font-face {
   font-family: defaultFont_Bold_Italics;
   src: url(./../media/site/fonts/ShreeDev0714/ShreeDev0714-Bold-Italic.ttf);
   font-weight: bold italic;
}

*{ font-family: defaultFont !important; } /*Site font*/

/*Override Bootstrap*/
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul, figure {
  margin: 0 !important;
}

.facebook-bw {
   background-image: url(./../media/site/icons/logos/Facebook.png);
   background-size: contain;
   width: 100%;
   height: 100%;
   width: 100%;
   height: 100%;
}

.flickr-bw {
   background-image: url(./../media/site/icons/logos/Flickr.png);
   background-size: contain;
   width: 100%;
   height: 100%;
}

.gallery-bw {
   background-image: url(./../media/site/icons/gallery.png);
   background-size: contain;
   width: 100%;
   height: 100%;
}

.github-bw {
   background-image: url(./../media/site/icons/logos/Github.png);
   background-size: contain;
   width: 100%;
   height: 100%;
}

.home-bw {
   background-image: url(./../media/site/icons/home.png);
   background-size: contain;
   width: 100%;
   height: 100%;
}

.instagram-bw {
   background-image: url(./../media/site/icons/logos/Instagram.png);
   background-size: contain;
   width: 100%;
   height: 100%;
}

.linkedin-bw {
   background-image: url(./../media/site/icons/logos/LinkedIn.png);
   background-size: contain;
   width: 100%;
   height: 100%;
}

.twitter-bw {
   background-image: url(./../media/site/icons/logos/Twitter.png);
   background-size: contain;
   width: 100%;
   height: 100%;
}