/*Custom Sass file for blog directory*/

$brand-red:       #D5491F;
$brand-orange:    #DA8D0F;
$brand-green:     #80A454;
$brand-grey:      #9DB7C1;
$brand-blue:      #3286A8;

@font-face {
   font-family: defaultFont;
   src: url(./../media/site/fonts/ProximaNova/ProximaNova-Light.otf);
}
@font-face {
   font-family: defaultFont_Extra_Bold;
   src: url(./../media/site/fonts/ProximaNova/ProximaNova-Exxtrabold.otf);
   font-weight: bolder;
}
@font-face {
   font-family: defaultFont_bold;
   src: url(./../media/site/fonts/ProximaNova/ProximaNova-Semibold.otf);
   font-weight: bold;
}
@font-face {
   font-family: defaultFont_Italics;
   src: url(./../media/site/fonts/ProximaNova/ProximaNova-LightItalic.otf);
   font-weight: italic;
}
@font-face {
   font-family: defaultFont_Bold_Italics;
   src: url(./../media/site/fonts/ProximaNova/ProximaNova-SemiboldIt.otf);
   font-weight: bold italic;
}

*{ font-family: defaultFont !important; } /*Site font*/

/*Override Bootstrap*/
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, figure {
  margin: 0 !important;
}

hr {
   border-color: black !important;
}

a:hover { text-decoration: none !important; }
a:active { text-decoration: none !important; }

b { font-family: defaultFont_bold !important; }
i { font-family: defaultFont_Italics !important; }
em { font-family: defaultFont_Italics !important; }
strong {
   font-family: defaultFont_bold !important;
   color: red;
}
.bold-italics { font-family: defaultFont_Bold_Italics !important; }

.no-style {
   list-style: none;
   margin: 0 !important;
}

.email-bw {
   background-image: url(./../media/site/icons/email_bw.png);
   background-size: contain;
   width: 100%;
   height: 100%;
}

.facebook-bw {
   background-image: url(./../media/site/icons/logos/Facebook_bw.png);
   background-size: contain;
   width: 100%;
   height: 100%;
   width: 100%;
   height: 100%;
}

.flickr-bw {
   background-image: url(./../media/site/icons/logos/Flickr_bw.png);
   background-size: contain;
   width: 100%;
   height: 100%;
}

.gallery-bw {
   background-image: url(./../media/site/icons/gallery_bw.png);
   background-size: contain;
   width: 100%;
   height: 100%;
}

.github-bw {
   background-image: url(./../media/site/icons/logos/Github_bw.png);
   background-size: contain;
   width: 100%;
   height: 100%;
}

.home-bw {
   background-image: url(./../media/site/icons/home_bw.png);
   background-size: contain;
   width: 100%;
   height: 100%;
}

.highSchool-bw {
   background-image: url(./../media/site/icons/highSchool_bw.png);
   background-size: contain;
   width: 100%;
   height: 100%;
}

.instagram-bw {
   background-image: url(./../media/site/icons/logos/Instagram_bw.png);
   background-size: contain;
   width: 100%;
   height: 100%;
}

.linkedin-bw {
   background-image: url(./../media/site/icons/logos/LinkedIn_bw.png);
   background-size: contain;
   width: 100%;
   height: 100%;
}

.twitter-bw {
   background-image: url(./../media/site/icons/logos/Twitter_bw.png);
   background-size: contain;
   width: 100%;
   height: 100%;
}

.youtube-bw {
   background-image: url(./../media/site/icons/logos/YouTube_bw.png);
   background-size: contain;
   width: 100%;
   height: 100%;
}

.regular-font-color {
   color: $brand-grey;
}