.footer-icon-box {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 3px;
}

.site-footer-content {
  padding-left: $spacing-unit;
  padding-right: $spacing-unit;
}

.external {
  &-bar {
    margin: auto;
    width: 100%;
  }

  &-td {
    /*border: 1px solid black;*/
    border-radius: 19px;
    margin-left: 15px;
    margin-right: 15px;
  }

  &-link-box {
    height: 32px;
    width: 32px;
    /*background-color: white;*/
    margin: auto;
  }

  &-link-label {
    text-align: center;
    color: $brand-blue;
  }
}
