.footer-icon-box {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 3px;
}

.site-footer-content {
  padding-left: $spacing-unit;
  padding-right: $spacing-unit;
}

.footer {
  &-external {
    margin: auto;

    a {
      height: 32px;
    }

    img {
      height: 32px;
    }
  }
}
