/*For the _includes/header.html file*/
$brand-red:       #D5491F;
$brand-orange:    #DA8D0F;
$brand-green:     #80A454;
$brand-grey:      #9DB7C1;
$brand-blue:      #3286A8;

.nav {
  &-bar {
    margin: auto;
  }

  &-td {
    /*border: 1px solid black;*/
    border-radius: 19px;
    margin-left: 15px;
    margin-right: 15px;
  }

  &-link-box {
    height: 32px;
    width: 32px;
    /*background-color: white;*/
    margin: auto;
  }

  &-link-label {
    text-align: center;
    color: $brand-blue;
  }
}