/*For the _includes/header.html file*/
$brand-red:       #D5491F;
$brand-orange:    #DA8D0F;
$brand-green:     #80A454;
$brand-grey:      #9DB7C1;
$brand-blue:      #3286A8;

.site-header {
  width: 100vw;
  height: 80px;

  // Overlay
  position: fixed;
  z-index: 2;
  top: 0px;

  background-color: rgba(255, 255, 255, .8);
}

.site-header-background {
  // background-color: $brand-blue;
}

.site-header-content {
  padding-left: $spacing-unit;
  padding-right: $spacing-unit;
}

.external {
  &-bar {
    margin: auto;
    width: 100%;
  }

  &-td {
    /*border: 1px solid black;*/
    border-radius: 19px;
    margin-left: 15px;
    margin-right: 15px;
  }

  &-link-box {
    height: 32px;
    width: 32px;
    /*background-color: white;*/
    margin: auto;
  }

  &-link-label {
    text-align: center;
    color: $brand-blue;
  }

  &-custom-spacing {
    margin-bottom: 12px;
  }
}

.site-nav {
  &-bar {
    margin-bottom: 0px;

    /*Copied from .wrapper class*/
    max-width: -webkit-calc(800px - (30px * 2));
    max-width: calc(800px - (30px * 2));
    margin-right: auto;
    margin-left: auto;
    // padding-right: 30px;
    // padding-left: 30px;
  }

  /*Media querie for width*/
  @media screen and (max-width: 800px) {
    .site-nav-bar {
      max-width: -webkit-calc(800px - (30px));
      max-width: calc(800px - (30px));
      padding-right: 15px;
      padding-left: 15px;
    }
  }
}

/*Dropdown info from: http://www.tutorialrepublic.com/faq/show-hide-dropdown-menu-on-mouse-hover-using-css.php*/
.nav-ul{
  /*padding: 0;*/
  list-style: none;
  margin-top: 12px;
}
.nav-item {
  width: 24%;
}
.nav-ul .nav-li{
  display: inline-block;
  position: relative;
  line-height: 21px;
  text-align: center;
}
.nav-ul .nav-li a{ /*Links in nav bar*/
  display: block;
  padding: 8px 12px;
  color: $brand-blue;
  text-decoration: none;
}
.nav-ul .nav-li a:hover{ /*Link hover*/
  color: #fff; /*Turn font color to white*/
  background: $brand-blue;
}
.nav-ul .nav-li ul.dropdown{
  min-width: 125px; /* Set width of the dropdown */
  background: #f2f2f2;
  display: none;
  position: absolute;
  z-index: 999;
  left: 0;
}
.nav-ul .nav-li:hover ul.dropdown{
  display: block; /* Display the dropdown */
}
.nav-ul .nav-li ul.dropdown .nav-li{
  display: block;
}
