/*For the _includes/header.html file*/
$brand-red:       #D5491F;
$brand-orange:    #DA8D0F;
$brand-green:     #80A454;
$brand-grey:      #9DB7C1;
$brand-blue:      #3286A8;

.site-header {
  width: 100vw;
  height: 80px; // When the user scrolls down, the header becomes 40px tall

  // Overlay
  position: fixed;
  z-index: 2;
  top: 0px;

  background-color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid $brand-grey;
}

.site-header-background {
  // background-color: $brand-blue;
  height: 100%;
}

.header-title-section {
  float: left;
  position: relative;
  display: inline-block;
  width: 38%;
  height: 100%;
}

.site-title {
  // Font size and line height dynamically set with jquery
  font-size: 28px;
  line-height: 3;

  padding-left: 8px;
  float: left;
  vertical-align: middle;
  color: $brand-blue;

  &,
  &:visited {
    color: $brand-blue;
  }
}


.site-header-content {
  height: 100%;
  padding-left: 12px;
  padding-right: 0;
}

.header-logo {
  width: auto;
  margin-top: 8px;

  // Height dynamically set with jquery
  height: 48;
}

.external {
  &-bar {
    margin: auto;
    width: 100%;
  }

  &-td {
    /*border: 1px solid black;*/
    border-radius: 19px;
    margin-left: 15px;
    margin-right: 15px;
  }

  &-link-box {
    height: 32px;
    width: 32px;
    /*background-color: white;*/
    margin: auto;
  }

  &-link-label {
    text-align: center;
    color: $brand-blue;
  }
}

.site-nav {
  &-bar {
    float: right;
    width: 60%;
    // Margin-top dynamically changed by scroll
    margin-top: 24px;
  }
}

/*Dropdown info from: http://www.tutorialrepublic.com/faq/show-hide-dropdown-menu-on-mouse-hover-using-css.php*/
.nav-ul{
  /*padding: 0;*/
  list-style: none;
}
.nav-item {
  width: 23%;
}
.nav-ul .nav-li{
  display: inline-block;
  position: relative;
  line-height: 21px;
  text-align: center;
}
.nav-ul .nav-li a{ /*Links in nav bar*/
  display: block;
  padding: 8px 12px;
  color: $brand-blue;
  text-decoration: none;
}
.nav-ul .nav-li a:hover{ /*Link hover*/
  color: #fff; /*Turn font color to white*/
  background: $brand-blue;
}
.nav-ul .nav-li ul.dropdown{
  min-width: 125px; /* Set width of the dropdown */
  background: #f2f2f2;
  display: none;
  position: absolute;
  z-index: 999;
  left: 0;
}
.nav-ul .nav-li:hover ul.dropdown{
  display: block; /* Display the dropdown */
}
.nav-ul .nav-li ul.dropdown .nav-li{
  display: block;
}
