.email-bw {
  background-image: url(./../media/site/icons/email_bw.png);
  background-size: contain;
  width: 100%;
  height: 100%;
}

.facebook-bw {
  background-image: url(./../media/site/icons/logos/Facebook_bw.png);
  background-size: contain;
  width: 100%;
  height: 100%;
  width: 100%;
  height: 100%;
}

.flickr-bw {
  background-image: url(./../media/site/icons/logos/Flickr_bw.png);
  background-size: contain;
  width: 100%;
  height: 100%;
}

.gallery-bw {
  background-image: url(./../media/site/icons/gallery_bw.png);
  background-size: contain;
  width: 100%;
  height: 100%;
}

.github-bw {
  background-image: url(./../media/site/icons/logos/Github_bw.png);
  background-size: contain;
  width: 100%;
  height: 100%;
}

.home-bw {
  background-image: url(./../media/site/icons/home_bw.png);
  background-size: contain;
  width: 100%;
  height: 100%;
}

.highSchool-bw {
  background-image: url(./../media/site/icons/highSchool_bw.png);
  background-size: contain;
  width: 100%;
  height: 100%;
}

.instagram-bw {
  background-image: url(./../media/site/icons/logos/Instagram_bw.png);
  background-size: contain;
  width: 100%;
  height: 100%;
}

.linkedin-bw {
  background-image: url(./../media/site/icons/logos/LinkedIn_bw.png);
  background-size: contain;
  width: 100%;
  height: 100%;
}

.twitter-bw {
  background-image: url(./../media/site/icons/logos/Twitter_bw.png);
  background-size: contain;
  width: 100%;
  height: 100%;
}

.youtube-bw {
  background-image: url(./../media/site/icons/logos/YouTube_bw.png);
  background-size: contain;
  width: 100%;
  height: 100%;
}
