/*For the index blog page*/
/*This is the blog homepage*/

$brand-red:       #D5491F;
$brand-orange:    #DA8D0F;
$brand-green:     #80A454;
$brand-grey:      #9DB7C1;
$brand-blue:      #3286A8;

$mobile-cuttoff: 800px;

// The entire page
.blog-homepage {

}

// Blog landing page - first half
.blog-landing {

  &-header {
    position: absolute;
    z-index: 1;
    bottom: 0px;
    width: 100vw;
    height: 70px;
    border-bottom: 1px solid rgba(230, 230, 230, 1);

    @media(max-width: $mobile-cuttoff) {
      border: none;
    }

    &-logo {
      position: absolute;
      width: 50px;
      margin-left: 10px;
      bottom: 10px;
      margin-top: 15px;

      @media(max-width: $mobile-cuttoff) {
        display: none;
      }
    }

    &-ul {
      // Header with links to blog, portfolio, etc.

      @media(max-width: $mobile-cuttoff) {
        display: none; // Don't display on mobile
      }

      list-style: none;
      position: absolute; // Absolute position within header div
      bottom: 10%; // Align bottom
      right: 0; // Align right side of screen
      width: 45%;
      margin-right: 1%;
    }

    &-li {
      position: relative;
      width: 24%; // Fit all four on one line
      display: inline-block;
      padding-left: 0px;
      float: right; // Text on the right side of li
    }

    &-li a {
      margin-left: 20%;
      color: white;
    }

    &-li a:hover {
      color: $brand-grey
    }
  }

  // Portfolio hover styling
  &-portfolio-dropdown {
    position: absolute;
    z-index: 2;
    margin-left: 10%;
    padding: 12px;
    display: none; // Hide unless script displays
    background-color: white;

    &-li {
      margin-left: 0;
      padding-left: 0;
      list-style: none;

      a {
        margin-left: 0;
        color: black !important;
      }
    }
  }

  // Landing blog page
  &-page {
    // Fill entire screen
    top: -80px; // Offset header
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url("../media/site/images/Blog_Image.jpg");
    background-size: cover;
    background-position: center;

    // Calculate margin bottom including header offset
    margin-bottom: calc(-80px + 24px); // 24px margin bottom, 80px header height
    margin-bottom: -webkit-calc(-80px + 24px);

    // Parallax
    transform-origin: center 100%;

    // Mobile
    @media(max-width: $mobile-cuttoff) {
      top: 0px;
      height: 100vh;
    }

    &-filter {
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.5); // Partially opaque
    }

    &-content {
      position: absolute;
      margin-left: 20%;
      margin-right: 20%;
      margin-top: 200px;
      width: 60%;

      @media(max-width: $mobile-cuttoff) {
        // Spacing updates for mobile
        width: 90%;
        margin-left: 5%;
        margin-top: 280px;
      }
    }
  }
}

.mobile-blog-header {
  position: fixed;
  z-index: 10; // Above everything else
  height: 40px;
  padding: 4px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.75);

  &-ul {
    list-style: none;
    float: left;
    width: 100%;
  }

  &-li {
    display: inline-block;
    padding-top: 4px;

    &-logo {
      display: inline-block;
    }
  }

  &-logo {
    width: 30px;
    height: 30px;
  }

  &-placeholder {
    position: relative;
    width: 100%;
    height: 40px;
  }
}

@media(min-width: $mobile-cuttoff) {
  .mobile-blog-header {
    display: none;
  }

  .mobile-blog-header-placeholder {
    display: none;
  }
}

// Blog posts - second half
.blog-homepage-content {
  width: 100%;

  padding-left: -webkit-calc((100% - (1.3 * (#{$content-width} - (#{$spacing-unit}))))/2);
  padding-left:         calc((100% - (1.3 * (#{$content-width} - (#{$spacing-unit}))))/2);
  padding-right:-webkit-calc((100% - (1.3 * (#{$content-width} - (#{$spacing-unit}))))/2);
  padding-right:        calc((100% - (1.3 * (#{$content-width} - (#{$spacing-unit}))))/2);
  margin: auto;

  padding-top: 32px;
  @media(max-width: $mobile-cuttoff) {
    padding-top: 10vh; // Fix spacing overlap issue
  }

  background-color: white;

  // Parallax
  z-index: 0;
}

.left-main {
  margin-left: 2%;
  width: 76%;
  float: left;

  @media(max-width: $mobile-cuttoff) {
    margin-left: 1%;
    width: 98%;
  }
}

.right-column {
  margin-right: 2%;
  width: 18%;
  float: right;

  @media(max-width: $mobile-cuttoff) {
    display: none;
  }
}

.recent-link {

}

.featured {
  color: $brand-red;
}

.recent {
  color: $brand-red;
}

.number-of-posts {
  font-size: 20px;
  color: $brand-grey;
}

.right-column ol{
  margin-left: 12px;
}

// Pagination styling
.pagination {
    width: 100%;
    text-align: center;
    font-size: 16px;
}
