/*For the index blog page*/
/*This is the blog homepage*/

$brand-red:       #D5491F;
$brand-orange:    #DA8D0F;
$brand-green:     #80A454;
$brand-grey:      #9DB7C1;
$brand-blue:      #3286A8;

$mobile-cuttoff: 800px;

// Blog landing page - first half
.blog-landing {

    &-page {
      // Fill entire screen
      top: -80px; // Offset header
      position: relative;
      width: 100vw;
      height: 100vh;
      background-image: url("../media/site/images/Blog_Image.jpg");
      background-size: cover;
      background-position: center;

      // Calculate margin bottom including header offset
      margin-bottom: calc(-80px + 24px); // 24px margin bottom, 80px header height
      margin-bottom: -webkit-calc(-80px + 24px);

      &-filter {
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5); // Partially opaque
      }
    }

    &-title-div {
      position: absolute;
      left: 3%;
      bottom: 25%;
    }

    &-title {
      color: $brand-blue;
      font-family: defaultFont_Bold !important;
    }
}

// Blog posts - second half
.blog-homepage-content {
  max-width: -webkit-calc(1.3 * (#{$content-width} - (#{$spacing-unit})));
  max-width:         calc(1.3 * (#{$content-width} - (#{$spacing-unit})));
  margin: auto;

  padding-left: 16px;
  padding-right: 16px;
}

.left-main {
  width: 78%;
  float: left;

  @media(max-width: $mobile-cuttoff) {
    width: 100%;
  }
}

.right-column {
  width: 20%;
  float: right;

  @media(max-width: $mobile-cuttoff) {
    display: none;
  }
}

.recent-link {

}

.featured {
  color: $brand-red;
}

.recent {
  color: $brand-red;
}

.number-of-posts {
  font-size: 20px;
  color: $brand-grey;
}

.right-column ol{
  margin-left: 12px;
}
