/*For the index blog page*/

$brand-red:       #D5491F;
$brand-orange:    #DA8D0F;
$brand-green:     #80A454;
$brand-grey:      #9DB7C1;
$brand-blue:      #3286A8;

.left-main {
  width: 80%;
  float: left;
}

.right-column {
  width: 19%;
  float: right;
}

.recent-link {
  
}

.featured {
  color: $brand-red;
}

.recent {
  color: $brand-red;
}

.number-of-posts {
  font-size: 20px;
  color: $brand-grey;
}