/*For the index blog page*/
/*This is the blog homepage*/

$brand-red:       #D5491F;
$brand-orange:    #DA8D0F;
$brand-green:     #80A454;
$brand-grey:      #9DB7C1;
$brand-blue:      #3286A8;

.page-content {
  
}

.blog-homepage-content {
  max-width: -webkit-calc(1.3 * (#{$content-width} - (#{$spacing-unit})));
  max-width:         calc(1.3 * (#{$content-width} - (#{$spacing-unit})));
  margin: auto;

  padding-left: 16px;
  padding-right: 16px;
}

.left-main {
  width: 78%;
  float: left;
}

.right-column {
  width: 20%;
  float: right;
}

.recent-link {

}

.featured {
  color: $brand-red;
}

.recent {
  color: $brand-red;
}

.number-of-posts {
  font-size: 20px;
  color: $brand-grey;
}

.right-column ol{
  margin-left: 12px;
}
