.landing {
  &-navigation {
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 2;
    border-radius: 4px; // Same as semantic UI
    margin: 1em;
  }

  &-social {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    margin: 1em;

    @media (max-width: $mobile-cuttoff) {
      top: 64px;
    }

    &-icon {
      width: 24px !important;
    }
  }

  &-parallax {
    &-container {
      display: block;
      height: 100vh;

      &-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 8%;

        @media (max-width: $mobile-cuttoff) {
          margin-top: 25%;
        }

        &-logo {
          width: 80px;
          height: 80px;
        }

        &-name {
          line-height: 2.25em;
          font-size: 1.75em;
          opacity: 0; // Will fade in persist
          animation: fadeIn 1.5s ease-in;
          animation-delay: 2s;
          animation-fill-mode: forwards;
        }
      }
    }
    &-container div {
      position: fixed;
      top: 0;
      background-position: center !important;
      transform: translateY(0px);
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
    }

    &-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &-transition {
      width: 100%;
      height: 10vh;

      // Place above the previous section
      position: absolute;
      top: -10vh;

      &-gradient {
        height: 100%;
        width: 100%;
        object-fit: fill;
      }

      &-spacer {
        height: 300px;
        background-color: black;
        width: 100%;
      }
    }
  }

  &-section {
    position: relative;
    background-color: #fff;
    @media (max-width: $mobile-cuttoff) {
      padding: 0 24px;
    }

    &-grid {
      max-width: 1100px;
      margin: auto !important;
    }

    &-text {
      padding: 5rem;
      @media (max-width: $mobile-cuttoff) {
        padding: 0.5rem;
      }

      text-align: left;
    }

    &-one {
      &-images {
        margin-top: -15vh;
        width: 90%;
        margin-bottom: 10%;

        @media (max-width: $mobile-cuttoff) {
          margin-top: 5%;
        }
      }
    }

    &-two {
      position: relative;
      background-color: black;
      color: white;

      @media (max-width: $mobile-cuttoff) {
        padding: 0 36px;
      }

      &-text {
        text-align: right;
      }

      &-computer {
        margin: auto;
        width: 85%;
        margin-left: 7.5%;

        &-text {
          position: absolute;
          top: 42%;
          width: 100%;
          text-align: center;
          color: white;
        }
      }
    }

    &-three {
      &-image {
        width: 50%;
        margin-top: 10%;
        margin-left: 25%;

        @media (max-width: $mobile-cuttoff) {
          margin-top: 25%;
        }
      }
    }
  }
}
