// Snipcart Override
.snipcart-item-line__product {
  @media (min-width: $mobile-cuttoff) {
    padding-left: 2rem !important;
  }
}

.photo {
  &-wrapper {
    margin: auto;
    margin-bottom: 36px;
    max-width: 1000px;
  }

  &-price {
    margin-top: 6px !important;
  }

  &-description {
    margin-top: 12px !important;
  }

  &-go-back {
    cursor: pointer;
  }

  &-sizes {
    margin: 24px 0;
  }

  &-custom-size {
    margin-top: 18px !important;
    color: grey;
  }
}

// Zoom Demo: https://zoom-plugins.myshopify.com/products/camp-stool
/* these styles are for the demo, but are not required for the plugin */
.zoom {
  display: inline-block;
  position: relative;
}

/* magnifying glass icon */
.zoom:after {
  content: "";
  display: block;
  width: 33px;
  height: 33px;
  position: absolute;
  top: 0;
  right: 0;
  background: url(icon.png);
}

.zoom img {
  display: block;
}

.zoom img::selection {
  background-color: transparent;
}
