/*Custom sass file for the post.scss layout*/
.post-return-main {
  color: $brand-grey !important;
}

.post-line-break {
  line-height: 24px !important;
}

.post-subheader {
  padding-top: 1.5rem;
  padding-bottom: .5rem;
}

li {
  padding-left: 12px;
  list-style-position: inside;
}

.iPhone-screenshots-medium {
  margin: 12px;
  width: 300px;
  display: inline-block;
}

.iPhone-screenshots-small {
  margin: 12px;
  width: 150px;
  display: inline-block;
}

.blog-tutorial-step {
  margin-bottom: 12px;
}
