/*Custom sass file for the post.scss layout*/
$brand-red:       #D5491F;
$brand-orange:    #DA8D0F;
$brand-green:     #80A454;
$brand-grey:      #9DB7C1;
$brand-blue:      #3286A8;
$offwhite: #D9F4FF;
$mobile-cuttoff: 800px;
$post-header-height: 245px;
$post-font-size: 16px;

.header-placeholder {
  width: 100%;
  height: 80px; // Max height of header

  // Media query
  @media(max-width: $mobile-cuttoff) {
    display: none;
  }
}

.post-header-background {
  z-index: -9999; // Ensure in the very back
  position: absolute; // So that other elements can go over it
  height: $post-header-height;
  width: 100vw;
  overflow-x: hidden;
}

.post-header-title {
  text-align: center;
}

.post-header-description {
  margin-top: -webkit-calc(#{$post-header-height} * 0.1) !important;
  margin-top:         calc(#{$post-header-height} * 0.1) !important;
  margin-bottom: 6px !important;
  color: $offwhite;
  text-align: center;
}

.post-header-content {
  position: relative;
  height: $post-header-height;

  max-width: -webkit-calc(1.3 * (#{$content-width} - (#{$spacing-unit})));
  max-width:         calc(1.3 * (#{$content-width} - (#{$spacing-unit})));
  margin: auto;

  padding-left: 16px;
  padding-right: 16px;

  padding-top: 12px;
  color: white;
}

.post-header-meta {
  position: absolute;
  color: $offwhite !important;

  // Center this element
  width: 50%;
  left: 25%;

  bottom: 6px; // Pin to bottom of parent
  text-align: center; // Center text
}

.post-return-main {
  color: $offwhite !important;
  cursor: pointer;
}

.post-line-break {
  line-height: 36px !important;
}

.post-subheader {
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.post-organization {
  margin-top: 16px;
  color: black;
}

// ******* Post content styling *******
.post-content p {
  font-size: $post-font-size; // Blog post font size
}

li {
  font-size: $post-font-size;
  padding-left: 12px;
  list-style-position: inside;
}

pre {
  font-size: 16px !important; // Make code highlighting font size bigger
}

.iPhone-screenshots-large {
  margin: 18px;
  width: 600px;
  display: inline-block;
}

.iPhone-screenshots-medium {
  margin: 14px;
  width: 300px;
  display: inline-block;
}

.iPhone-screenshots-small {
  margin: 10px;
  width: 150px;
  display: inline-block;
}

.blog-tutorial-step {
  margin-bottom: 12px;
}
