$brand-red: #d5491f;
$brand-orange: #da8d0f;
$brand-green: #80a454;
$brand-grey: #9db7c1;
$brand-blue: #3286a8;

.project {
  &-page {
    // Page content
    width: 90%; // Create room for x margin
    margin: auto; // Center horizontally
    margin-top: 12px; // Top spacing
  }

  &-title {
    margin-top: 8px !important;
  }

  &-description {
  }

  &-hr {
    border-color: $brand-grey !important;
  }

  &-header {
  }
}

// Content wrapper on web apps
.project-main {
  padding: 12px;
}
