$brand-red:       #D5491F;
$brand-orange:    #DA8D0F;
$brand-green:     #80A454;
$brand-grey:      #9DB7C1;
$brand-blue:      #3286A8;

.project {
  &-page {
    // Page content
    width: 90%; // Create room for x margin
    margin: auto; // Center horizontally
    margin-top: 12px; // Top spacing
  }

  &-title {
    margin-top: 8px !important;
  }

  &-description {

  }

  &-hr {
    border-color: $brand-grey !important;
  }

  &-header {

  }
}

// Content wrapper on web apps
.project-main {
  padding: 12px;
}
