$brand-red:       #D5491F;
$brand-orange:    #DA8D0F;
$brand-green:     #80A454;
$brand-grey:      #9DB7C1;
$brand-blue:      #3286A8;

.stsc {
  &-input-div {
    width: 48%;
    float: left;
    border: 1px solid black;
    padding: 5%;
    line-height: 24px;
  }
  &-output-div {
    width: 48%;
    float: right;
    border: 1px solid black;
    padding: 8%;
    font-size: 24px;
  }
  &-score {
    color: $brand-blue;
  }
  &-instructions {
    line-height: 16px;
  }
}