/*TA is text-analysis for short*/

$brand-red:       #D5491F;
$brand-orange:    #DA8D0F;
$brand-green:     #80A454;
$brand-grey:      #9DB7C1;
$brand-blue:      #3286A8;

.TA {
  &-file-input {
    border: 1px solid black;
    padding: 6px;
  }

  &-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9001;

    &__container {
      position: relative;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      -webkit-box-pack: center;
      justify-content: center;
      margin: auto;
      padding: 3rem;
      border-radius: .25rem;
      width: 50%;
      max-width: 40rem;
      min-width: 20rem;
      height: 100%;

    }
    &__header {
      flex-shrink: 0;
      border: 1px solid black;
      background-color: white;
    }
    &__content {
      padding-top: 2rem;
      padding: 1rem;
      overflow: hidden;
      overflow-y: auto;
      border: 1px solid black;
      background-color: white;
    }
    &__footer {
      border-top: 2px solid grey;
      border-bottom-right-radius: .25rem;
      border-bottom-left-radius: .25rem;
      padding: .75rem;
      text-align: right;
      border: 1px solid black;
      background-color: white;
    }
    &-backdrop {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      visibility: visible;
      opacity: 1;
    }
  }
}