body {
    font-family: "Lucida Grande", "Bitstream Vera Sans", Arial, sans-serif;
    font-size: medium;
    line-height: 1.3em;
    font-weight: normal;
    background: #fff;
    color: #333;
    text-align: center;
    width: 300px;
}

