.background {
  height: 100vh;
  width: 100vw;
  background-repeat: infinite;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 0%;
  position: absolute;
  z-index: 1;
}
