@-webkit-keyframes blinkCurser {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes blinkCurser {
  from { opacity: 0; }
  to { opacity: 1; }
}

.actor__content--typing {
  -webkit-animation: blinkCurser 500ms infinite;
  animation: blinkCurser 500ms infinite;
}
