@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  } */
}

/* Base styling for text. */
/*********************************************/
@layer base {
  h1 {
    @apply font-heading text-5xl;
  }
  h2 {
    @apply font-heading text-4xl;
  }
  h3 {
    @apply font-heading text-3xl;
  }
  h4 {
    @apply font-heading text-2xl;
  }
  h5 {
    @apply font-heading text-xl;
  }
  h6 {
    @apply font-heading text-lg;
  }
  .caption {
    @apply font-default text-sm text-gray-600;
  }
  p {
    @apply font-default text-base;
  }
  li {
    @apply font-default text-base;
  }
  pre,
  code {
    @apply font-mono text-base;
  }
}

@layer components {
  .gradient-accent-gbv {
    background: linear-gradient(
      90.18deg,
      #80a454 0%,
      #3286a8 50.85%,
      #5037ce 100%
    );
  }

  .gradient-accent-roy {
    background: linear-gradient(
      90.18deg,
      #d5491f 0%,
      #da8d0f 50.85%,
      #dec11a 100%
    );
  }

  /* Enable text gradients. */
  .gradient-text {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  /* Enable text image masks. User should set background image. */
  .text-mask {
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-size: cover;
    background-position: center;
  }
}
