/**************************************************************
* Name: Kevin Hou
* License: MIT
*
* Description: SCSS styling for tile layout for web.
*
* Compile:
*   sass --watch style.scss:style.css
**************************************************************/

$primary-color: white;
$animation-duration: .2s;
$mobile-cuttoff: 600px;

.main-grid {
  width: 100%;

  overflow: visible;
}

@media only screen and (max-width: $mobile-cuttoff) {

  // Make it all one column
  .tile {
    width: 100% !important;
    height: 350px !important;
  }
}

.tile {
  opacity: 0; // Start transparent

  // Entrance Animation
  &-entrance {
    animation-name: bigEntrance;
  	-webkit-animation-name: bigEntrance;

    animation-fill-mode: forwards; // Keep the state after it's been completed
    -webkit-animation-fill-mode: forwards;

  	animation-duration: 0.5s;
  	-webkit-animation-duration: 0.5s;

  	animation-timing-function: ease-out;
  	-webkit-animation-timing-function: ease-out;
  }

  // Skip the entrance animation
  &-skip-entrance {
    opacity: 1;
  }

  /******   Content Styling   ******/
  &-text {
    position: absolute; // Absolute positioning
    width: 90%;
    padding: 2% 5% 0 5%; // Pad top left and right
    z-index: 0; // Ensure above background

    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

    color: white; // Font color
    text-shadow: 1px 1px #000000; // Add shadow to make it easier to read

    // Animate hover transitions
    transition: all $animation-duration; // Applies to all changes
    transition-timing-function: ease-in-out; // Transition timing

    // Styling when hovering
    &-hover {
      bottom: 0% !important; // Override other positioning
      padding: 2% 5% 3% 5%; // Pad top left and right
    }
  }

  &-category {
    padding: 4px 6px 4px 6px; // Padding
    font-size: 10px;
    border-radius: 2px; // Round corners
    display: inline-block; // Display to width of text
    background-color: orange; // Default is orange
  }

  &-title {
    font-size: 36px;
  }

  &-subtitle {
    font-size: 24px;
  }

  &-description {
    font-size: 15px;
  }

  /******   Container Structure   ******/
  position: relative;
  display: inline-block; // Wrap around
  overflow: hidden; // Prevent the content from spilling out
  cursor: pointer;

  margin-top: -4px; // Compensate for weird spacing

  // The color behind the opacity
  background-color: black;

  &-content {
    width: 100%;
    height: 100%;
  }

  &-background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    // Sizing
    width: 100%;
    height: 100%;

    // Background image filter
    filter: brightness(0.9);
    -webkit-filter: brightness(0.9);
    opacity: 1; // Start completely visible

    // Background image options
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    // Animate transitions
    transition: all $animation-duration; // Applies to all changes
    transition-timing-function: ease-in-out; // Transition timing

    &-hover {
      transform: scale(1.2, 1.2); // Scale the background image

      // Filter when hovering
      // filter: blur(0px) brightness(1) grayscale(0);
      opacity: 0.5; // Dim so text can be visible
    }
  }
}

.photo-tile-background {
  position: absolute;
  top: 0;
  left: 0;
  // z-index: -1;

  // Sizing
  width: 100%;
  height: 100%;

  // Background image options
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  // Animate transitions
  transition: all $animation-duration; // Applies to all changes
  transition-timing-function: ease-in-out; // Transition timing

  &-hover {
    transform: scale(1.2, 1.2); // Scale the background image
  }
}

// Big entrance animation
@keyframes bigEntrance {
	0% {
		transform: scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);
		opacity: 0.2;
	}
	30% {
		transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);
		opacity: 1;
	}
	45% {
		transform: scale(0.98) rotate(1deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
	60% {
		transform: scale(1.01) rotate(-1deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
	75% {
		transform: scale(0.99) rotate(1deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
	90% {
		transform: scale(1.01) rotate(0deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
	100% {
		transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
}

@-webkit-keyframes bigEntrance {
	0% {
		-webkit-transform: scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);
		opacity: 0.2;
	}
	30% {
		-webkit-transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);
		opacity: 1;
	}
	45% {
		-webkit-transform: scale(0.98) rotate(1deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
	60% {
		-webkit-transform: scale(1.01) rotate(-1deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
	75% {
		-webkit-transform: scale(0.99) rotate(1deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
	90% {
		-webkit-transform: scale(1.01) rotate(0deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
}
