.parallax {
  perspective: 1.1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #3286A8;
}
.parallax__layer {
  position: absolute;
  top: -28px;
  right: 0;
  bottom: 0;
  left: 0;
}

.parallax__layer--base {
  transform: translateZ(0);
}

.parallax__layer--back {
  transform: translateZ(-1px);
  /*height: 300%;  Now the background is only 50% height */
  width: 400%;
  left: -175%;
  top: -50%;
  transform-origin: center 100%;
}

.parallax__layer--wrapper {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
}

.parallax__group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
}

.layer-content {
  margin-left: 5%;
  margin-right: 5%;
}