---
layout: default
---
<!-- Hide scrollbar on this page -->
<style> ::-webkit-scrollbar { display: none; } </style>
<script src="blogLandingPage.js" type="text/javascript"></script>

<div class="blog-landing-header" id="blog-landing-header">
  <!-- Logo -->
  <a href="{{ site.url }}">
    <img src="{{ site.baseurl }}/media/site/favicon.png" class="blog-landing-header-logo">
  </a>
  <!-- Links -->
  <ul class="blog-landing-header-ul">
    <li class="blog-landing-header-li">
      <a href="{{ site.baseurl }}/blog/contact">Contact</a>
    </li>
    <li class="blog-landing-header-li">
      <a href="{{ site.baseurl }}/blog/projects">Projects</a>
    </li>
    <li class="blog-landing-header-li">
      <a href="{{ site.baseurl }}/blog">Blog</a>
    </li>
    <li class="blog-landing-header-li">
      <a href="{{ site.baseurl }}">Home</a>
    </li>
  </ul>
</div>

<!-- Blog homepage -->
<div class="blog-landing-page">
  <div class="blog-landing-page-filter">
    <div class="blog-landing-page-content">
      <img src="../media/site/images/Blog_Landing_Content.png">
    </div>
  </div>
</div>
<div class="blog-homepage-content clearfix">
  <div class="home left-main">

    <h1 class="page-heading">Posts <span class="number-of-posts">({{site.posts.size}})</span></h1>

    <ul class="post-list">
      <!-- Repeats for (maps) all posts -->
      {% for post in site.posts %}
        <li class="post-individual">
          <h2 style="margin-bottom: 0rem">
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
          <p class="post-description">
            {{ post.description }}
          </p>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        </li>
      {% endfor %}
    </ul>

    <p class="rss-subscribe">Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

  </div>

  <div class="right-column">
    <div class="featured">
      Featured posts:
      <ol class="regular-font-color">
        {% for post in site.posts %}
          {% if post.featured != "no" %} <!-- if featured -->
            <li>
              <a class="recent-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ol>
    </div>
    <div class="recent">
      Recent posts:
      <ol class="regular-font-color">
        {% for post in site.posts %}
          {% if forloop.index0 < 3 %} <!-- Only display last 3 posts -->
            <li>
              <a class="recent-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ol>
    </div>
    <div class="browse-category">
      <a href="{{ site.baseurl }}/blog/category">
        Browse by Category
      </a>
    </div>
    <div class="browse-tag">
      <a href="{{ site.baseurl }}/blog/tag">
        Browse by Tag
      </a>
    </div>
  </div>
</div>
