@font-face {
  font-family: defaultFont;
  src: url(./../media/fonts/ProximaNova-Light.otf);
}

*{
  font-family: defaultFont;
}

::-webkit-scrollbar { 
    display: none; 
}

.lab-header {
  margin-left: 7%;
  margin-top: 7%;
  text-align: left;
}

.lab-title {
  font-size: 9rem;
  color: white;
}

.lab-project-subtitle {
  font-size: 5rem;
  color: white;
  text-align: left;
}

.lab-subtitle {
  font-size: 5rem;
  color: white;
  text-align: center;
}

.lab-section-title {
  font-size: 4rem;
  color: white;
}

.lab-abstract {

}

.scroll-down-arrow {
  float: right;
  font-size: 5rem;
  margin-top: -8%;
  color: white;
}

.lab-abstract {
  
}

.lab-text {
  font-size: 3rem;
  text-align: left;
  color: white;
}

.lab-left-half {
  float: left;
  width: 50%;
  padding: 6px;
}

.lab-right-half {
  float: right;
  width: 50%;
  padding: 12px;
}

.lab-table {
  width: 100%;
  text-align: center;
}

.lab-td {
  border: 1px solid white;
  width: auto;
  font-size: 2rem;
}

.lab-table-description {
  font-size: 2rem;
  color: white;
}

.lab-table-title {
  text-align: center;
}

.lab-terms {
  font-size: 2.5rem;
}