@font-face {
  font-family: defaultFont;
  src: url(./../../media/site/fonts/Papyrus/Papyrus.ttf);
}

*{  font-family: defaultFont; }

/*Specify font sizes*/
h1 {  font-size: 72px;  }
h2 {  font-size: 48px;  }
h3 {  font-size: 32px;  }
h4 {  font-size: 24px;  }

::-webkit-scrollbar { 
  display: none;
}

.pca-background {
  z-index: -1;
}

.pca-foreground {
  position: relative;
  margin-top: -100vh;
  width: 100%;
  z-index: 1;
}

.pca-movie-overview {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.pca-movie-details {
  width: 60%;
  margin-left: 2%;
  height: 100%;
  float: left;
  
  /*Content styling*/
  padding: 3%;
  color: white;
}

.pca-movie-poster {
  padding-top: 5%;
  margin-right: 2%;
  width: 35%;
  height: 100%;
  float: right;
}

.pca-movie-poster-img {
  margin: auto;
  height: 75vh;
  border: 2px solid white;
}

.pca-section-header {
  text-align: center;
  color: white;
}

.pca-movie-video {
  /*YouTube videos are 640x360 ratio*/
  margin: auto;
  width: 60%;
  height: 65vh;
  /*background-color: black;*/
}

.scroll-down-arrow {
  position: absolute;
  top: 95vh;
  right: 5%;
  bottom: 0px;
  font-size: 5rem;
  color: white;
}

.scroll-down-animation {
  -webkit-animation-name: bounce;
  -webkit-animation-duration: 600ms;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
}

@-webkit-keyframes bounce {
  0% {
    margin-top: -9%;
  }
  100% {
    margin-top: -6%;
  }
}