@font-face {
  font-family: defaultFont;
  src: url(./../../media/site/fonts/ProximaNova/ProximaNova-Light.otf);
}

*{  font-family: defaultFont; }

/*Specify font sizes*/
h1 {  font-size: 52px;  }
h2 {  font-size: 42px;  }
h3 {  font-size: 32px;  }
h4 {  font-size: 24px;  }

::-webkit-scrollbar { 
  display: none;
}

.pca-background {
  z-index: -1;
}

.pca-foreground {
  position: relative;
  margin-top: -100vh;
  width: 100%;
  z-index: 1;
  height: 93%;
  top: 7%;
}

.pca-movie-overview {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.pca-movie-details {
  width: 60%;
  margin-left: 2%;
  height: 100%;
  float: left;
  
  /*Content styling*/
  padding: 3%;
  color: white;
}

.pca-movie-poster {
  padding-top: 5%;
  margin-right: 2%;
  width: 35%;
  height: 100%;
  float: right;
}

.pca-movie-poster-img {
  margin: auto;
  height: 75vh;
  border: 2px solid white;
}

.pca-section-header {
  text-align: center;
  margin-bottom: 12px;
  margin-top: 0px; /*Override bootstrap*/
}

.pca-movie-video {
  /*YouTube videos are 640x360 ratio*/
  margin: auto;
  width: 60%;
  height: 65vh;
  /*background-color: black;*/
}

.pca-section-text {
  width: 94%;
  padding: 1%;
  border-radius: 12px;
  margin: auto;
  color: black;
  font-size: 20px;
  margin-top: 4%;
}

.pca-nav-bar-div {
  width: 100%;
  height: 80px;
  position: fixed;
  background-color: rgba(255, 255, 255, 0); /*Transparent*/
  z-index: 9999; /*Place above all else*/
}

.pca-nav-bar-button {
  background-color: white;
  border-radius: 2rem;
  width: 100%;
  height: 100%;
  margin: auto;
  font-size: 24px;

}

.pca-nav-td {
  width: 25%;
  height: 100%;  
  padding: 1rem;
}

.scroll-down-arrow {
  position: absolute;
  top: 91vh;
  right: 3%;
  height: 4rem;
  width: 4rem;
  background-image: url(./../../media/site/icons/chevron_down_bw.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.scroll-down-animation {
  -webkit-animation-name: bounce;
  -webkit-animation-duration: 600ms;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
}

@-webkit-keyframes bounce {
  0% {
    margin-top: -9%;
  }
  100% {
    margin-top: -6%;
  }
}

.glass-effect {
  background-color: rgba(255, 255, 255, .5);
  border-bottom: 2px solid;
  border-bottom-color: #ccc;
  border-bottom-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}