/*Set uniqe font for landing page*/
@font-face {
  font-family: papyrusFont;
  src: url(./../../media/site/fonts/Papyrus/Papyrus.ttc);
}
*{  font-family: papyrusFont !important; } /*Override custom.css*/

/*Stylesheet begins*/

.pca-landing-background {
  background-image: url("https://daywallpaper.files.wordpress.com/2013/08/silhouette-elephants-in-the-sunset.jpg");
  -webkit-filter: grayscale(0.2);
}

.pca-word-cloud {
  width: 1000px;
  height: 640px;
  background-image: url('../../school/postcolonial-africa/media/Word_Cloud.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin: auto;
  margin-top: 100px;
}

.pca-site-subtitle {
  width: 80%;
  margin-left: 10%;
  margin-top: 2%;
  border: 2px solid white;
  position: absolute;
  color: white;
  font-size: 52px;
  height: 100px;
  border-radius: 25px;
  padding-left: 30px;
  vertical-align: middle;
}

.pca-site-subtitle-text {
  padding-top: 24px;
}

.pca-site-title {
  text-align: center;
  color: white;
}

.pca-site-subtitle-search {
  background-image: url("../../media/site/icons/search_icon_bw.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  top: -80px;
  float: right;
  margin-right: 30px;
  position: relative;
}

@keyframes blink {
  from { opacity: 0; }
  to { opacity: 1; }
}

.actor__content--typing::after {
  content: '|';
  animation: blink 500ms infinite;
}