
.pca-parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.pca-parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.pca-parallax__layer--base {
  transform: translateZ(0);
  color: white !important;
  padding: 2%;
}

.pca-parallax__layer--back {
  transform: translateZ(-5px) scale(10);
  /*background-image: url('../../school/postcolonial-africa/media/Madagascar_African_Landscape.jpg');*/
  background-image: url("http://moverplatform.blob.core.windows.net/wwwusamovercom/blog-images/593dadc5-1237-4d91-9072-353ad2a62c0e.jpg");
  -webkit-filter: grayscale(0.9);
  /*background-size: contain;*/
}