---
layout: default
---

<!-- Contents of a page that uses the gallery will be the JSON object. -->

<!-- <link rel="stylesheet" type="text/css" href="css/reset.css"> -->
<link
  rel="stylesheet"
  type="text/css"
  href="{{ '/libraries/gh-gallery/css/style.css' | pepend: site.baseurl }}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{{ '/libraries/gh-gallery/css/zoom.css' | pepend: site.baseurl }}"
/>

<!-- <h1>{{ page.title }}</h1> -->

<div class="ui modal">
  <i class="close icon"></i>
  <div class="header" id="modalTitle">
    Modal Title
  </div>
  <input
    id="modalTitleSelectable"
    value="Modal Title"
    style="opacity:0;height:1"
  />
  <div class="image content">
    <img
      class="ui centered image photography-modal-image"
      id="modalImage"
      src="https://cdn.shopify.com/s/files/1/0533/2089/files/placeholder-images-image_large.png?v=1530129081"
    />
  </div>
  <div class="actions">
    <div class="ui button negative" onClick="closeModal()">
      Close
    </div>
    <div class="ui button positive" onClick="copyName()">
      <i class="copy icon"></i>
      Copy Name
    </div>
  </div>
</div>
<script>
  $(".ui.modal").modal();

  var openModal = function(name, src) {
    document.getElementById("modalImage").setAttribute("src", src);
    document.getElementById("modalTitle").innerText = name;
    document.getElementById("modalTitleSelectable").value = name;
    $(".ui.modal").modal("show");
  };

  var copyName = function() {
    var fileName = document.getElementById("modalTitleSelectable");
    fileName.select();
    fileName.setSelectionRange(0, 99999); /*For mobile devices*/
    document.execCommand("copy");
  };

  var closeModal = function() {
    $(".ui.modal").modal("hide");
  };
</script>

<!-- JS Object -->
{{ content }}
<div id="container" style="margin-top: 24px">
  <div id="gallery"></div>
</div>
<script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-beta.2/lazyload.js"></script>
<script src="{{
    '/libraries/gh-gallery/js/gallery.js' | pepend: site.baseurl
  }}"></script>
<script src="{{
    '/libraries/gh-gallery/js/transition.js' | pepend: site.baseurl
  }}"></script>
<script src="{{
    '/libraries/gh-gallery/js/zoom.min.js' | pepend: site.baseurl
  }}"></script>
<script>
  var COLUMNS = 'columns';
  var ROWS = 'rows';
  var SQUARES = 'squares';

  var columns = COLUMNS;
  var rows = ROWS;
  var squares = SQUARES;

  var layoutStyle = {{ page.layout_style }};

  var configuration = {
      spacing: {{ page.spacing }},
      shuffle: {{ page.shuffle }},
      columns: {{ page.columns }},
      maxHeight: {{ page.max_height }}
  };
</script>
<script>
  const id = "gallery";
  var renderer;
  switch (layoutStyle) {
    case COLUMNS:
      renderer = new VerticalRenderer(id);
      break;
    case ROWS:
      renderer = new HorizontalRenderer(id);
      break;
    case SQUARES:
      renderer = new SquareRenderer(id);
      break;
  }
  var config = new Config(GALLERY_IMAGES, configuration);
  renderer.render(config);
  lazyload();
</script>

{% include photoStoreButton.html %}
