---
layout: default
---

<!-- Contents of a page that uses the gallery will be the JSON object. -->

<!-- <link rel="stylesheet" type="text/css" href="css/reset.css"> -->
<link
  rel="stylesheet"
  type="text/css"
  href="{{ '/libraries/gh-gallery/css/style.css' | pepend: site.baseurl }}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{{ '/libraries/gh-gallery/css/zoom.css' | pepend: site.baseurl }}"
/>

<h1>{{ page.title }}</h1>

{{ content }}
<div id="container">
  <div id="gallery"></div>
</div>
<script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-beta.2/lazyload.js"></script>
<script src="{{
    '/libraries/gh-gallery/js/gallery.js' | pepend: site.baseurl
  }}"></script>
<script src="{{
    '/libraries/gh-gallery/js/transition.js' | pepend: site.baseurl
  }}"></script>
<script src="{{
    '/libraries/gh-gallery/js/zoom.min.js' | pepend: site.baseurl
  }}"></script>
<script>
  var COLUMNS = 'columns';
  var ROWS = 'rows';
  var SQUARES = 'squares';

  var columns = COLUMNS;
  var rows = ROWS;
  var squares = SQUARES;

  var layoutStyle = {{ page.layout_style }};

  var configuration = {
      spacing: {{ page.spacing }},
      shuffle: {{ page.shuffle }},
      columns: {{ page.columns }},
      maxHeight: {{ page.max_height }}
  };
</script>
<script>
  const id = "gallery";
  var renderer;
  switch (layoutStyle) {
    case COLUMNS:
      renderer = new VerticalRenderer(id);
      break;
    case ROWS:
      renderer = new HorizontalRenderer(id);
      break;
    case SQUARES:
      renderer = new SquareRenderer(id);
      break;
  }
  var config = new Config(GALLERY_IMAGES, configuration);
  renderer.render(config);
  lazyload();
</script>
