---
layout: default
---
<!-- Hide scrollbar on this page -->
<style> ::-webkit-scrollbar { display: none; } </style>

<div class="post">
  {% assign post = page %}

    {% if post.tags.size > 0 %}
      {% assign general_content_one = 'Posted' %}
    {% else %}
      {% if post.categories.size > 0 %}
        {% assign general_content_one = 'Posted' %}
      {% else %}
        {% assign general_content_one = '' %}
      {% endif %}
    {% endif %}

    {% if post.tags.size > 0 %}
        {% capture tags_content %} with {% endcapture %}
        {% for post_tag in post.tags %}
          {% assign tag = site.data.tags[post_tag] %}
            {% if tag %}
                {% capture tags_content_temp %}{{ tags_content }}<a href="/blog/tag/{{ tag.slug }}">{{ tag.name }}</a>{% if forloop.last == false %}, {% endif %}{% endcapture %}
                {% assign tags_content = tags_content_temp %}
            {% endif %}
        {% endfor %}
    {% else %}
        {% assign tags_content = '' %}
    {% endif %}

    {% if post.categories.size > 0 %}
      {% for post_category in post.categories %}
          {% assign category = site.data.categories[post_category] %}
            {% if category %}
                {% capture categories_content_temp %}{{ categories_content }} in <a href="/blog/category/{{ category.slug }}/">{{ category.name }}</a>{% if forloop.last == false %}, {% endif %}{% endcapture %}
                {% assign categories_content = categories_content_temp %}
            {% endif %}
        {% endfor %}
    {% else %}
      {% assign categories_content = '' %}
    {% endif %}
  <header id="blog-post-header" class="post-header">
    <div class="post-header-content">
      <a onclick="blogPostBackButton()"><p class="post-return-main">
        <
        Return to all blogs
      </p></a>
      <br />
      <h1 class="post-title post-header-title">{{ page.title }}</h1>
      <h4 class="post-header-description">{{ page.description }}</h4>
      <p class="post-header-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    </div>
  </header>

  <script type="text/javascript">
    // Animate scroll to the blog header immediately after page load
    // $('html, body').animate({
    //     scrollTop: $("#blog-post-header").offset().top
    // }, 1000);

    var blogPostBackButton = function() {
      var previousLink = document.referrer
      var index = previousLink.indexOf("/blog")
      console.log("Previous link:", previousLink);
      console.log(index);
      if (index == 1) { // If not coming from a different blog post
        window.history.go(-1); // Back in history (keeps window position)
      } else { // Directed from a different blog post
        // console.log("Back to blog");
        console.log("Back");
        window.location.href = "/blog";
      }
    }

  </script>

  <article class="post-content">
    {{ content }}
    <div class="post-organization">
      <p id="post-meta">{{ general_content_one }}{{ categories_content }}{{ general_content_two }}{{ tags_content }}</p>
    </div>
  </article>
</div>
