@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-webkit-keyframes ButtonHover {
  0% {
    color: rgba(255, 255, 255, 0);
    /*background-color: rgba(255, 255, 255, 0);*/
  }
  100% {
    color: rgba(255, 255, 255, 1);
    /*background-color: rgba(255, 255, 255, .2);*/
    background-image: none; /*Turn off icon*/
  }
}
