.loading-page {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 6; /* In front */

  background-color: white;
}

.pendulum-animation {
  position: absolute;
  width: 50vw;
  margin-left: 25vw;
  bottom: 10%;
}

.logo-animation {
  position: absolute;
  width: 10vw;
  margin-left: 45%;
  top: 10%;
}

.logo-position-change-animation {
/* Turned off position change animation
  animation-name: logoPositionChange;
  animation-duration: 1000ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;*/
}

@keyframes logoPositionChange {
  to {
    width: 64px;
    height: 64px;
    margin: 0;
    top: 15px;
    left: 15px;
  }
}
